
<h1 id="header">click me 3</h1>


script(type='text/javascript' src='https://code.jquery.com/jquery-3.6.0.min.js')


script.
  var resposedata='';
  var sendData = function(e) {
    console.log('clicked!');

            //-  $.ajax({
            //-       type: "POST",
            //-       //- url: "https://morning-thicket-53691.herokuapp.com/",
            //-       url: "https://morning-thicket-53691.herokuapp.com/response",
            //-       data: {hi:"hi"} ,
            //-       success: function(responsedata){
            //-       console.log({responsedata});
            //-       }
            //-     })

        $.ajax({
            url: "http://localhost:7101/EinvoiceClientSide-Client-context-root/resources/client/imvariable",
            success: function(response){
                console.log({response});
                var fileData = response;
            
               $.ajax({
                  type: "POST",
                  url: "https://morning-thicket-53691.herokuapp.com/response",
                  data: fileData ,
                  success: function(response){
                  console.log({response});
                  }
            })
            }
        })

  }

button(onclick='sendData()') Click