
<h1 id="header">click me</h1>


script(type='text/javascript' src='https://code.jquery.com/jquery-3.6.0.min.js')


script.

  var sendData = function(e) {
    console.log('clicked!');

        $.ajax({
            url: "http://localhost:7101/EinvoiceClientSide-Client-context-root/resources/client/",
            success: function(response){
                console.log({response});
            }
        });

         $.post("http://localhost:3000/response",{response:response}, function(postData){
            if(data === 'yes') {
                alert("login success");
              }
          });

  }

button(onclick='sendData()') Click