
<h1 id="header">click me</h1>


script(type='text/javascript' src='https://code.jquery.com/jquery-3.6.0.min.js')


script.

  var sendData = function(e) {
    console.log('clicked!');

        $.ajax({
            url: "http://localhost:7101/EinvoiceClientSide-Client-context-root/resources/client",
            success: function(response){
                console.log({response});
            }
        $.ajax({
            type:post,
            url: "http://localhost:7101/EinvoiceClientSide-Client-context-root/resources/client",
            data: response,
            success: function(response){
                console.log({response});
            }


        });
        

  }

button(onclick='sendData()') Click